{% extends 'base.html.twig' %}


{% block body %}
    <form class="form_container" enctype="multipart/form-data" method="post">
        <div class="announce_name">
            {{ form_label(form.product, 'Nom de l\'Annonce' ) }}
            {{ form_widget(form.product) }}
        </div>
        <div class="announce_description">
            {{ form_label(form.description, 'Description de l\'Annonce' ) }}
            {{ form_widget(form.description) }}
        </div>
        <div class="announce_image">
            {{ form_label(form.imageFile, 'Image de l\'Annonce' ) }}
            {{ form_widget(form.imageFile) }}
        </div>
        <button onclick="window.location='/'" type="submit" class="btn btn-dark send_btn">Envoyer</button>
        {{ form_rest(form) }}
    </form>


{% endblock %}
